@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  color: white;
  font-family: Helvetica, Arial, sans-serif;
}

.hover-image-play {
  cursor: pointer;
}

#footer {
  position: fixed;
  bottom: 0;
  left: 0;
  width: 100%;
  z-index: 2;
  padding-bottom: 30px;
}

.responsive-image {
  width: 100%;
  height: auto;
}

@media only screen and (max-width: 1026px) {
  #fadeshow1 {
    display: none;
  }
}
.yt-container {
  position: relative;
  width: 100%;
  height: 0;
  padding-bottom: 56.25%;
}

*::-webkit-scrollbar-thumb {
  background-color: rgba(126, 126, 126, 0.3);
  border-radius: 5px;
}

::-webkit-scrollbar {
  width: 10px;
}

::-webkit-scrollbar-track {
  margin: 22px;
  background-color: #00000000;
}

a {
  text-decoration: underline;
}
